:root{

}

body{
    width: 50%;
    margin: auto;
}


.content{
    padding: 0 6rem;
}

 /* @media only screen and (max-width: 800px){
    .content{
        padding: 0 2rem;
        width: 100%;
        background-color: red;
    }
}  */


